*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: navy;
    color:blanchedalmond;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items:center;
    padding: 0 12px;
    
}
nav ul{
    list-style: none;
}
.gameContainer{
 background-color: white;
 margin-top: 50px;
 display: flex;
 justify-content: center;
 
}
.container{
    display:grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    position:relative;
}
.box{
    border:2px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box:hover{
    background-color: rgb(189, 139, 236);
}
.dance{
    width: 0px;
     transition: width 2s ease-in-out; 
}
.br0{
    border-right: 0;
}
.bl0{
    border-left: 0;
}
.bt0{
    border-top: 0;
}
.bb0{
    border-bottom: 0;
}
.gameinfo{
    padding: 0 34px;
}
.gameinfo h1{
    font-size: 2.5rem;
}
#reset{
    margin: 0 23px;
    padding: 1px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
}
.line{
    background-color: red;
    height: 3px;
    width: 0;
    position: absolute;
    transition: width 1s ease-in-out;
}
@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}
